{#
/**
 * @file
 * Default template for a field.
 */
#}
{%
  set classes = [
    bundle|clean_class ~ '__' ~ field_name_clean|clean_class
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes.addClass(classes).addClass('carousel-inner') }}>
      {% for item in items %}
        {% if loop.first %}
          <div{{ item.attributes.addClass('field__item').addClass('item active') }}>{{ item.content }}</div>
        {% else %}
          <div{{ item.attributes.addClass('field__item').addClass('item')  }}>{{ item.content }}</div>
        {% endif %}
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <div{{ attributes.addClass(classes).addClass('item')  }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes.addClass(classes).addClass('item') }}>
    <strong{{ title_attributes.addClass(title_classes) }}>{{ label }}</strong>
    {% if multiple %}
      <div class="field__items carousel-inner">
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes.addClass('field__item').addClass('item') }}>{{ item.content }}</div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
